<div id="<%= dom_id user %>">
  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p data-controller="relative_date">
    <span data-target="relative_date.date"><%= user.created_at %></span>
  </p>
</div>
